@media screen and (orientation: landscape) {
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* border: red 1px solid; */
  }

  *::selection {
    background-color: darkgoldenrod;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
  }

  nav {
    height: 100vh;
    background-color: #ffffff;
    top: 0%;
    left: 0%;
    bottom: 0%;
    padding: 0% 0.5%;
  }

  img {
    width: 1.75em;
  }

  h1 {
    font-size: 4em;
    font-weight: 900;
  }

  .flex-container {
    display: flex;
  }

  .flex-vertical {
    flex-direction: column;
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section {
    height: 100vh;
  }

  .fixed {
    position: fixed;
  }

  .front {
    margin-left: calc(1.75em + 1%);
    padding: 1em;
  }
}
