* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

*::selection {
  background-color: darkgoldenrod;
}

body {
  background-color: #000000;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

.flex-container {
  display: flex;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  height: 100vh;
}
