body {
  background-color: #ffaa00;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

li {
  padding-bottom: 0.75em;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

a:hover {
  font-style: italic;
}

h1,
h2 {
  color: white;
}

legend {
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-left: 0.5em;
  margin-top: -0.5em;
  font-weight: bolder;
  background-color: #e45e04;
  color: #fff;
  font-size: 1.2em;
}

fieldset {
  border: #e66000 solid 0.35em;
}

nav a:link {
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
  font-style: normal;
}

.front {
  font-size: x-large;
  padding: 0.5em 1.3em;
}

.flex-container {
  display: flex;
}

.middle {
  width: 200%;
}

.nav-bar {
  background-color: white;
  border-radius: 0.5em;
  padding: 0 1.25em;
}

.nav-bar .flex-container {
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  font-weight: bold;
  font-size: 0.85em;
  text-align: center;
}

.card {
  background-color: #ffc34d;
  padding: 1em;
  margin: 1.1em 0.8em;
  border-radius: 1em;
  box-shadow: 0.33em 0.33em 10px #101010;
}

.layer2 {
  background-color: #e66000;
}

.layer2.side-bar {
  border-radius: 1em 0.4em 0.4em 1em;
  padding-right: 1.5em;
  background-color: #ffc34d;
  font-size: 0.75em;
}

.layer2.middle {
  border-radius: 0.4em 1em 1em 0.4em;
}

.body.flex-container {
  margin: 1em 0;
  border-radius: 1em 1em 0 0;
  gap: 0.6em;
  padding: 0.5em 0;
}

.site-useful {
  flex-flow: wrap;
}

.site-useful > .card {
  max-width: 43%;
}

.warning {
  background-color: rgb(255, 40, 40);
  top: 0;
  right: 0;
  left: 0;
  padding: 1em;
  border-color: #101010;
  border-style: solid;
  border-width: 0.2em;
  box-shadow: 0px 0.3em 5px black;
}

.timeline ul {
  padding-left: 1.5em;
}

#up-arrow img {
  width: 1.5em;
  height: 1.5em;
}

#up-arrow a {
  background-color: #ffc100;
  position: fixed;
  bottom: 1.2rem;
  right: 1.2rem;
  border-radius: 600em;
  padding: 0.8em;
  box-shadow: 0.2em 0.2em 5px rgba(0, 0, 0, 0.7);
}

#navbarlist {
  padding-left: 0;
}

#navbarlist > li:hover {
  background-color: rgb(233, 233, 233);
}
#navbarlist li a,
#navbarlist li p {
  padding: 1em 0.5em;
  flex-grow: 1;
  font-size: 1.1em;
}
#navbarlist li {
  flex-grow: 1;
  padding-bottom: 0;
}

#navbarlist p {
  margin: 0;
  padding: 0;
}

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  background-color: #fff;
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
}

.dropdown-content > * {
  font-size: 1.1em;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}
.dropdown-content a {
  color: #000000;
}
.dropdown-content a:hover {
  color: #ffffff;
  background-color: #00a4bd;
}
