@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	html {
		font-family: 'Roboto', sans-serif;
	}
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

html,
body {
	height: 100%;
	overflow: hidden;
}

strong {
	@apply text-dark-gold-500;
}
